<div class="bg">
  <div class="hdr">
    <h1>Eat-Da-Burger</h1>
  </div>
  <div class="add-burger">
    <h2 class="lobster2">Add a Burger:</h2>
    <form class="create-form">
      <input type="text" id="bu" name="name"><br><br>
      <button type="submit">Add Burger</button>
    </form>
  </div>
  <div class=container>
    <div class="to-eat">
      <h2 class="lobster2">Burgers to Eat!</h2>
      <ul>
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burger-block1 eat=true}}
          {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="center-blank">&nbsp;&nbsp;</div>
  <div class="devoured">
    <h2 class="lobster2">Devoured Burgers</h2>
    <ul>
      {{#each burgers}}
        {{#if devoured}}
          {{> burgers/burger-block2 eat=false}}
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

